In [4]:
import pandas as pd

In [5]:
df_sales = pd.read_excel ('clean_sales.xlsx')
df_holidays = pd.read_excel ('calendario.xls')
df_climate = pd.read_excel ('madrid_climate_2015.xlsx')
df_trends_bolera = pd.read_csv ('trends_bolera.csv')
df_trends_bowling = pd.read_csv ('trends_bowling.csv')
df_trends_minigolf = pd.read_csv ('trends_minigolf.csv')
df_trends_minituregolf = pd.read_csv ('trends_minituregolf.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'clean_sales.xlsx'

In [3]:
df_sales.head(50)

NameError: name 'df_sales' is not defined

In [32]:
df_sales.dtypes

date            object
total_sales    float64
dtype: object

In [34]:
df_holidays.sample(50)

,Dia,Dia_semana,laborable / festivo / domingo festivo,Tipo de Festivo,Festividad
652,2014-10-15,miércoles,laborable,NaN,NaN
2004,2018-06-28,jueves,laborable,NaN,NaN
889,2015-06-09,martes,laborable,NaN,NaN
2149,2018-11-20,martes,laborable,NaN,NaN
2367,2019-06-26,miércoles,laborable,NaN,NaN
2256,2019-03-07,jueves,laborable,NaN,NaN
1914,2018-03-30,viernes,festivo,Festivo nacional,Viernes Santo
411,2014-02-16,domingo,domingo,NaN,NaN
756,2015-01-27,martes,laborable,NaN,NaN
2143,2018-11-14,miércoles,laborable,NaN,NaN
908,2015-06-28,domingo,domingo,NaN,NaN
84,2013-03-26,martes,laborable,NaN,NaN
432,2014-03-09,domingo,domingo,NaN,NaN
1007,2015-10-05,lunes,laborable,NaN,NaN
246,2013-09-04,miércoles,laborable,NaN,NaN
2910,2020-12-20,domingo,domingo,NaN,NaN
459,2014-04-05,sábado,sábado,NaN,NaN
120,2013-05-01,miércoles,festivo,Festivo nacional,Fiesta del Trabajo
607,2014-08-31,domingo,domingo,NaN,NaN
2401,2019-07-30,martes,laborable,NaN,NaN
387,2014-01-23,jueves,laborable,NaN,NaN
473,2014-04-19,sábado,sábado,NaN,NaN
2173,2018-12-14,viernes,laborable,NaN,NaN
1411,2016-11-12,sábado,sábado,NaN,NaN
355,2013-12-22,domingo,domingo,NaN,NaN
2532,2019-12-08,domingo,domingo,NaN,NaN
3012,2021-04-01,jueves,festivo,Festivo de la comunidad de Madrid,Jueves Santo
3057,2021-05-16,domingo,domingo,NaN,NaN
2388,2019-07-17,miércoles,laborable,NaN,NaN
1258,2016-06-12,domingo,domingo,NaN,NaN
1808,2017-12-14,jueves,laborable,NaN,NaN
176,2013-06-26,miércoles,laborable,NaN,NaN
739,2015-01-10,sábado,sábado,NaN,NaN
1967,2018-05-22,martes,laborable,NaN,NaN
1130,2016-02-05,viernes,laborable,NaN,NaN
1883,2018-02-27,martes,laborable,NaN,NaN
2895,2020-12-05,sábado,sábado,NaN,NaN
1582,2017-05-02,martes,festivo,Festivo de la Comunidad de Madrid,Dos de Mayo. Fiesta de la Comunidad de Madrid
2128,2018-10-30,martes,laborable,NaN,NaN
444,2014-03-21,viernes,laborable,NaN,NaN
902,2015-06-22,lunes,laborable,NaN,NaN
1066,2015-12-03,jueves,laborable,NaN,NaN
1114,2016-01-20,miércoles,laborable,NaN,NaN
1648,2017-07-07,viernes,laborable,NaN,NaN
1772,2017-11-08,miércoles,laborable,NaN,NaN
2970,2021-02-18,jueves,laborable,NaN,NaN
1025,2015-10-23,viernes,laborable,NaN,NaN
493,2014-05-09,viernes,laborable,NaN,NaN
1043,2015-11-10,martes,laborable,NaN,NaN
24,2013-01-25,viernes,laborable,NaN,NaN

In [35]:
df_sales.shape

(1947, 2)

In [38]:
df_climate.head()

,Y,M,D,T,TM,Tm,SLP,STP,H,PP,VV,V,VM,VG,FG,RA,SN,GR,TS,TR
0,2015,9,1,23.6,31,15.7,-,-,50,0,11.4,7.2,13,31.7,0,0,0,0,0,0
1,2015,9,2,24.9,31,17.8,-,-,47,0,10.8,10.4,24.1,50,0,0,0,0,0,0
2,2015,9,3,22.7,27.5,17,-,-,38,0,13.4,10.4,16.5,48.2,0,0,0,0,0,0
3,2015,9,4,21,27.2,16,-,-,46,0,11.6,11.1,29.4,37,0,0,0,0,0,0
4,2015,9,5,20.1,27.6,12.7,-,-,41,0,10,8.3,16.5,-,0,0,0,0,0,0

In [40]:
df_trends_bolera.head()

     Month  bolera: (Community of Madrid)
0  2015-10                             53
1  2015-11                             47
2  2015-12                             51
3  2016-01                             87
4  2016-02                             49

In [43]:
df_trends_bowling.head()

     Month  bowling: (Community of Madrid)
0  2015-10                              84
1  2015-11                              59
2  2015-12                              51
3  2016-01                              69
4  2016-02                              51

In [44]:
df_trends_minigolf.head()

     Month  minigolf: (Community of Madrid)
0  2015-10                               33
1  2015-11                               14
2  2015-12                               22
3  2016-01                               19
4  2016-02                               49

In [45]:
df_trends_minituregolf.head()

     Month  Miniature golf: (Community of Madrid)
0  2015-10                                     33
1  2015-11                                     25
2  2015-12                                     31
3  2016-01                                     27
4  2016-02                                     35