In [482]:
import pandas as pd
import numpy as np
from functools import reduce

import datetime
import seaborn as sns
from matplotlib import rcParams
import matplotlib.pyplot as plt
# figure size in inches
rcParams['figure.figsize'] = 30,15
pd.set_option('display.max_columns', None)

In [483]:
df_sales = pd.read_csv ('data/raw_data/sales_clean.csv')
df_climate = pd.read_csv('data/raw_data/climate_clean.csv')
df_holidays = pd.read_csv('data/raw_data/holidays_clean.csv')

In [484]:
df_climate

            date  average_temp  total_precip_mm  did_rain  did_snow
0     2015-09-21          20.9              0.0         0         0
1     2015-09-22          20.4              0.0         0         0
2     2015-09-23          19.0              0.0         0         0
3     2015-09-24          19.9              0.0         0         0
4     2015-09-25          21.4              0.0         0         0
...          ...           ...              ...       ...       ...
2055  2021-05-07          28.0              0.0         0         0
2056  2021-05-08          29.0              0.0         0         0
2057  2021-05-09          22.0              1.5         1         0
2058  2021-05-10          18.0              0.0         0         0
2059  2021-05-11          19.0              0.0         0         0

[2060 rows x 5 columns]

In [485]:
df_holidays

            date   day_type holiday_type holiday_name
0     2015-09-21  laborable          NaN          NaN
1     2015-09-22  laborable          NaN          NaN
2     2015-09-23  laborable          NaN          NaN
3     2015-09-24  laborable          NaN          NaN
4     2015-09-25  laborable          NaN          NaN
...          ...        ...          ...          ...
2055  2021-05-07  laborable          NaN          NaN
2056  2021-05-08     sábado          NaN          NaN
2057  2021-05-09    domingo          NaN          NaN
2058  2021-05-10  laborable          NaN          NaN
2059  2021-05-11  laborable          NaN          NaN

[2060 rows x 4 columns]

In [486]:
df1= pd.merge(df_sales, df_climate, how="right", on="date")

In [487]:
df1

,date,total_sales,day_of_week,month_name,day,year,average_temp,total_precip_mm,did_rain,did_snow
0,2015-09-21,233.00,Monday,September,21,2015,20.9,0.0,0,0
1,2015-09-22,95.80,Tuesday,September,22,2015,20.4,0.0,0,0
2,2015-09-23,156.50,Wednesday,September,23,2015,19.0,0.0,0,0
3,2015-09-24,141.80,Thursday,September,24,2015,19.9,0.0,0,0
4,2015-09-25,1095.15,Friday,September,25,2015,21.4,0.0,0,0
...,...,...,...,...,...,...,...,...,...,...
2055,2021-05-07,2154.00,Friday,May,7,2021,28.0,0.0,0,0
2056,2021-05-08,6241.70,Saturday,May,8,2021,29.0,0.0,0,0
2057,2021-05-09,6611.10,Sunday,May,9,2021,22.0,1.5,1,0
2058,2021-05-10,946.40,Monday,May,10,2021,18.0,0.0,0,0
2059,2021-05-11,723.20,Tuesday,May,11,2021,19.0,0.0,0,0

In [488]:
df2 = pd.merge(df1, df_holidays, how="right", on="date")

In [489]:
df2

,date,total_sales,day_of_week,month_name,day,year,average_temp,total_precip_mm,did_rain,did_snow,day_type,holiday_type,holiday_name
0,2015-09-21,233.00,Monday,September,21,2015,20.9,0.0,0,0,laborable,NaN,NaN
1,2015-09-22,95.80,Tuesday,September,22,2015,20.4,0.0,0,0,laborable,NaN,NaN
2,2015-09-23,156.50,Wednesday,September,23,2015,19.0,0.0,0,0,laborable,NaN,NaN
3,2015-09-24,141.80,Thursday,September,24,2015,19.9,0.0,0,0,laborable,NaN,NaN
4,2015-09-25,1095.15,Friday,September,25,2015,21.4,0.0,0,0,laborable,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2055,2021-05-07,2154.00,Friday,May,7,2021,28.0,0.0,0,0,laborable,NaN,NaN
2056,2021-05-08,6241.70,Saturday,May,8,2021,29.0,0.0,0,0,sábado,NaN,NaN
2057,2021-05-09,6611.10,Sunday,May,9,2021,22.0,1.5,1,0,domingo,NaN,NaN
2058,2021-05-10,946.40,Monday,May,10,2021,18.0,0.0,0,0,laborable,NaN,NaN
2059,2021-05-11,723.20,Tuesday,May,11,2021,19.0,0.0,0,0,laborable,NaN,NaN

In [490]:
df2['holiday_type'] = df2['holiday_type'].str.upper()
df2['holiday_name'] = df2['holiday_name'].str.upper()

In [491]:
df2.sample(40)

,date,total_sales,day_of_week,month_name,day,year,average_temp,total_precip_mm,did_rain,did_snow,day_type,holiday_type,holiday_name
736,2017-09-26,1163.80,Tuesday,September,26,2017,19.4,0.00,0,0,laborable,NaN,NaN
1554,2019-12-23,4614.10,Monday,December,23,2019,8.9,0.00,0,0,laborable,NaN,NaN
553,2017-03-27,1213.25,Monday,March,27,2017,10.2,3.30,1,1,laborable,NaN,NaN
668,2017-07-20,809.30,Thursday,July,20,2017,26.7,0.00,0,0,laborable,NaN,NaN
918,2018-03-27,1702.60,Tuesday,March,27,2018,13.1,0.00,0,0,laborable,NaN,NaN
495,2017-01-28,8542.60,Saturday,January,28,2017,5.1,6.10,1,0,sábado,NaN,NaN
854,2018-01-22,636.45,Monday,January,22,2018,7.2,0.00,0,0,laborable,NaN,NaN
1790,2020-08-15,1404.10,Saturday,August,15,2020,24.8,0.00,0,0,festivo,FESTIVO NACIONAL,ASUNCION DE LA VIRGEN
843,2018-01-11,680.00,Thursday,January,11,2018,6.3,0.00,0,0,laborable,NaN,NaN
1668,2020-04-15,0.00,Wednesday,April,15,2020,12.6,9.40,1,0,laborable,NaN,NaN
646,2017-06-28,1277.50,Wednesday,June,28,2017,21.8,0.00,0,0,laborable,NaN,NaN
1726,2020-06-12,0.00,Friday,June,12,2020,16.2,0.00,1,0,laborable,NaN,NaN
1558,2019-12-27,6696.90,Friday,December,27,2019,5.2,0.00,0,0,laborable,NaN,NaN
1172,2018-12-06,5006.90,Thursday,December,6,2018,8.2,0.00,0,0,festivo,FESTIVO NACIONAL,DÍA DE LA CONSTITUCIÓN
1089,2018-09-14,1980.90,Friday,September,14,2018,25.1,0.00,0,0,laborable,NaN,NaN
811,2017-12-10,3441.85,Sunday,December,10,2017,11.3,0.00,1,0,domingo,NaN,NaN
1044,2018-07-31,1190.30,Tuesday,July,31,2018,27.6,0.00,0,0,laborable,NaN,NaN
691,2017-08-12,1825.90,Saturday,August,12,2017,24.5,0.00,0,0,sábado,NaN,NaN
506,2017-02-08,838.45,Wednesday,February,8,2017,6.1,0.00,0,0,laborable,NaN,NaN
1864,2020-10-28,801.80,Wednesday,October,28,2020,10.3,0.00,0,0,laborable,NaN,NaN
1752,2020-07-08,460.80,Wednesday,July,8,2020,29.8,0.00,1,0,laborable,NaN,NaN
1247,2019-02-19,514.60,Tuesday,February,19,2019,7.4,0.00,0,0,laborable,NaN,NaN
634,2017-06-16,2532.65,Friday,June,16,2017,30.2,0.25,1,0,laborable,NaN,NaN
313,2016-07-30,2438.70,Saturday,July,30,2016,30.5,0.00,0,0,sábado,NaN,NaN
1577,2020-01-15,1023.30,Wednesday,January,15,2020,5.1,0.00,0,0,laborable,NaN,NaN
136,2016-02-04,492.90,Thursday,February,4,2016,5.8,0.00,0,0,laborable,NaN,NaN
589,2017-05-02,1956.80,Tuesday,May,2,2017,16.0,0.00,0,0,festivo,FESTIVO DE LA COMUNIDAD DE MADRID,DOS DE MAYO. FIESTA DE LA COMUNIDAD DE MADRID
1377,2019-06-29,3354.10,Saturday,June,29,2019,31.8,0.00,0,0,sábado,NaN,NaN
1557,2019-12-26,5400.00,Thursday,December,26,2019,7.9,0.00,0,0,laborable,NaN,NaN
2055,2021-05-07,2154.00,Friday,May,7,2021,28.0,0.00,0,0,laborable,NaN,NaN
1866,2020-10-30,1689.85,Friday,October,30,2020,10.6,0.00,0,0,laborable,NaN,NaN
1344,2019-05-27,969.30,Monday,May,27,2019,21.0,0.00,0,0,laborable,NaN,NaN
275,2016-06-22,1443.10,Wednesday,June,22,2016,27.7,0.00,0,0,laborable,NaN,NaN
380,2016-10-05,846.15,Wednesday,October,5,2016,19.9,0.00,0,0,laborable,NaN,NaN
474,2017-01-07,6464.35,Saturday,January,7,2017,2.1,0.00,0,0,sábado,NaN,NaN
936,2018-04-14,7367.45,Saturday,April,14,2018,11.1,0.51,1,0,sábado,NaN,NaN
1680,2020-04-27,0.00,Monday,April,27,2020,13.8,0.00,1,0,laborable,NaN,NaN
1479,2019-10-09,2386.30,Wednesday,October,9,2019,20.8,0.00,0,0,laborable,NaN,NaN
1773,2020-07-29,849.00,Wednesday,July,29,2020,31.1,0.00,0,0,laborable,NaN,NaN
32,2015-10-23,0.00,Friday,October,23,2015,13.7,0.00,0,0,laborable,NaN,NaN

In [492]:
df2['is_closed'] = df2['total_sales'].apply(lambda x: 1 if x == 0 else 0)

In [493]:
df2['is_lockdown'] = df2['date'].apply(lambda x: 1 if x >= '2020-03-13' and x <= '2020-06-26' else 0)

In [494]:
df2['is_curfew'] = df2['date'].apply(lambda x: 1 if x >= '2020-03-13' and x <= '2021-05-09' else 0)

In [495]:
df2.head()

,date,total_sales,day_of_week,month_name,day,year,average_temp,total_precip_mm,did_rain,did_snow,day_type,holiday_type,holiday_name,is_closed,is_lockdown,is_curfew
0,2015-09-21,233.00,Monday,September,21,2015,20.9,0.0,0,0,laborable,NaN,NaN,0,0,0
1,2015-09-22,95.80,Tuesday,September,22,2015,20.4,0.0,0,0,laborable,NaN,NaN,0,0,0
2,2015-09-23,156.50,Wednesday,September,23,2015,19.0,0.0,0,0,laborable,NaN,NaN,0,0,0
3,2015-09-24,141.80,Thursday,September,24,2015,19.9,0.0,0,0,laborable,NaN,NaN,0,0,0
4,2015-09-25,1095.15,Friday,September,25,2015,21.4,0.0,0,0,laborable,NaN,NaN,0,0,0

In [496]:
df2.corr()

,total_sales,day,year,average_temp,total_precip_mm,did_rain,did_snow,is_closed,is_lockdown,is_curfew
total_sales,1.000000,-0.029586,-0.013776,-0.264064,0.070638,0.107799,0.002931,-0.258799,-0.245639,-0.157188
day,-0.029586,1.000000,-0.023629,0.012277,-0.021252,-0.007165,0.021833,0.034367,0.015800,0.002079
year,-0.013776,-0.023629,1.000000,-0.046058,0.007636,0.044646,0.006112,0.226014,0.272899,0.688380
average_temp,-0.264064,0.012277,-0.046058,1.000000,-0.106723,-0.205768,-0.095801,0.040597,0.049200,-0.000332
total_precip_mm,0.070638,-0.021252,0.007636,-0.106723,1.000000,0.457043,0.093648,0.054079,0.049235,0.034876
did_rain,0.107799,-0.007165,0.044646,-0.205768,0.457043,1.000000,0.141058,0.094187,0.095855,0.062359
did_snow,0.002931,0.021833,0.006112,-0.095801,0.093648,0.141058,1.000000,0.058615,0.041986,0.020193
is_closed,-0.258799,0.034367,0.226014,0.040597,0.054079,0.094187,0.058615,1.000000,0.949148,0.430816
is_lockdown,-0.245639,0.015800,0.272899,0.049200,0.049235,0.095855,0.041986,0.949148,1.000000,0.458189
is_curfew,-0.157188,0.002079,0.688380,-0.000332,0.034876,0.062359,0.020193,0.430816,0.458189,1.000000

In [497]:
df2.to_csv("data/db_load_files/clean_data.csv", index=False)

In [498]:
df3 = df2.set_index("date")

In [499]:
df3

,total_sales,day_of_week,month_name,day,year,average_temp,total_precip_mm,did_rain,did_snow,day_type,holiday_type,holiday_name,is_closed,is_lockdown,is_curfew
date,,,,,,,,,,,,,,,
2015-09-21,233.00,Monday,September,21,2015,20.9,0.0,0,0,laborable,NaN,NaN,0,0,0
2015-09-22,95.80,Tuesday,September,22,2015,20.4,0.0,0,0,laborable,NaN,NaN,0,0,0
2015-09-23,156.50,Wednesday,September,23,2015,19.0,0.0,0,0,laborable,NaN,NaN,0,0,0
2015-09-24,141.80,Thursday,September,24,2015,19.9,0.0,0,0,laborable,NaN,NaN,0,0,0
2015-09-25,1095.15,Friday,September,25,2015,21.4,0.0,0,0,laborable,NaN,NaN,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-05-07,2154.00,Friday,May,7,2021,28.0,0.0,0,0,laborable,NaN,NaN,0,0,1
2021-05-08,6241.70,Saturday,May,8,2021,29.0,0.0,0,0,sábado,NaN,NaN,0,0,1
2021-05-09,6611.10,Sunday,May,9,2021,22.0,1.5,1,0,domingo,NaN,NaN,0,0,1
2021-05-10,946.40,Monday,May,10,2021,18.0,0.0,0,0,laborable,NaN,NaN,0,0,0
2021-05-11,723.20,Tuesday,May,11,2021,19.0,0.0,0,0,laborable,NaN,NaN,0,0,0

In [500]:
df3['year'] = df3.year.astype('category')

In [501]:
del df3['day']
del df3['holiday_type']
del df3['holiday_name' ]

In [502]:
del df3['did_snow']

In [503]:
df4 = pd.get_dummies(df3 ,dummy_na=True)

In [504]:
df4

,total_sales,average_temp,total_precip_mm,did_rain,is_closed,is_lockdown,is_curfew,day_of_week_Friday,day_of_week_Monday,day_of_week_Saturday,day_of_week_Sunday,day_of_week_Thursday,day_of_week_Tuesday,day_of_week_Wednesday,day_of_week_nan,month_name_April,month_name_August,month_name_December,month_name_February,month_name_January,month_name_July,month_name_June,month_name_March,month_name_May,month_name_November,month_name_October,month_name_September,month_name_nan,year_2015.0,year_2016.0,year_2017.0,year_2018.0,year_2019.0,year_2020.0,year_2021.0,year_nan,day_type_domingo,day_type_festivo,day_type_laborable,day_type_sábado,day_type_nan
date,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2015-09-21,233.00,20.9,0.0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,1,0,0
2015-09-22,95.80,20.4,0.0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,1,0,0
2015-09-23,156.50,19.0,0.0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,1,0,0
2015-09-24,141.80,19.9,0.0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,1,0,0
2015-09-25,1095.15,21.4,0.0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-05-07,2154.00,28.0,0.0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0
2021-05-08,6241.70,29.0,0.0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0
2021-05-09,6611.10,22.0,1.5,1,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0
2021-05-10,946.40,18.0,0.0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0
2021-05-11,723.20,19.0,0.0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0

In [505]:
del df4['day_type_nan']
del df4['month_name_nan']
del df4['day_of_week_nan']
del df4['year_nan']

In [506]:
df4

,total_sales,average_temp,total_precip_mm,did_rain,is_closed,is_lockdown,is_curfew,day_of_week_Friday,day_of_week_Monday,day_of_week_Saturday,day_of_week_Sunday,day_of_week_Thursday,day_of_week_Tuesday,day_of_week_Wednesday,month_name_April,month_name_August,month_name_December,month_name_February,month_name_January,month_name_July,month_name_June,month_name_March,month_name_May,month_name_November,month_name_October,month_name_September,year_2015.0,year_2016.0,year_2017.0,year_2018.0,year_2019.0,year_2020.0,year_2021.0,day_type_domingo,day_type_festivo,day_type_laborable,day_type_sábado
date,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2015-09-21,233.00,20.9,0.0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,1,0
2015-09-22,95.80,20.4,0.0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,1,0
2015-09-23,156.50,19.0,0.0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,1,0
2015-09-24,141.80,19.9,0.0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,1,0
2015-09-25,1095.15,21.4,0.0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-05-07,2154.00,28.0,0.0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0
2021-05-08,6241.70,29.0,0.0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,1
2021-05-09,6611.10,22.0,1.5,1,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,1,0,0,0
2021-05-10,946.40,18.0,0.0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0
2021-05-11,723.20,19.0,0.0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0

In [507]:
#add total sales lag 
number_lags=1
for lag in range(1, number_lags + 1):
    df4['prev_sales'] = df4.total_sales.shift(lag)

df4.dropna(subset = ["prev_sales"], inplace=True)

In [508]:
number_lags=1
for lag in range(1, number_lags + 1):
    df4['is_post_holiday'] = df4.day_type_festivo.shift(lag)

df4.dropna(subset = ["is_post_holiday"], inplace=True)

In [509]:
df4['is_pre_holiday'] = df4.day_type_festivo.shift(-1)
df4.dropna(subset = ["is_pre_holiday"], inplace=True)

In [510]:
df4

,total_sales,average_temp,total_precip_mm,did_rain,is_closed,is_lockdown,is_curfew,day_of_week_Friday,day_of_week_Monday,day_of_week_Saturday,day_of_week_Sunday,day_of_week_Thursday,day_of_week_Tuesday,day_of_week_Wednesday,month_name_April,month_name_August,month_name_December,month_name_February,month_name_January,month_name_July,month_name_June,month_name_March,month_name_May,month_name_November,month_name_October,month_name_September,year_2015.0,year_2016.0,year_2017.0,year_2018.0,year_2019.0,year_2020.0,year_2021.0,day_type_domingo,day_type_festivo,day_type_laborable,day_type_sábado,prev_sales,is_post_holiday,is_pre_holiday
date,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2015-09-23,156.50,19.0,0.0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,1,0,95.80,0.0,0.0
2015-09-24,141.80,19.9,0.0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,1,0,156.50,0.0,0.0
2015-09-25,1095.15,21.4,0.0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,1,0,141.80,0.0,0.0
2015-09-26,2588.05,20.8,0.0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,1,1095.15,0.0,0.0
2015-09-27,1316.90,21.2,0.0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,1,0,0,0,2588.05,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-05-06,649.40,27.0,0.0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0,751.70,0.0,0.0
2021-05-07,2154.00,28.0,0.0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0,649.40,0.0,0.0
2021-05-08,6241.70,29.0,0.0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,1,2154.00,0.0,0.0
2021-05-09,6611.10,22.0,1.5,1,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,1,0,0,0,6241.70,0.0,0.0
2021-05-10,946.40,18.0,0.0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0,6611.10,0.0,0.0

In [511]:
df4.to_excel("data/test.xlsx", index=True)

In [512]:


from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import RandomForestClassifier , GradientBoostingClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis , QuadraticDiscriminantAnalysis

from sklearn.linear_model import LinearRegression,Ridge,Lasso,RidgeCV, ElasticNet,SGDRegressor
from sklearn.ensemble import RandomForestRegressor,BaggingRegressor,GradientBoostingRegressor,AdaBoostRegressor 
from sklearn.svm import SVR
from sklearn.neighbors import KNeighborsRegressor
from sklearn.neural_network import MLPRegressor

from sklearn.preprocessing import  Normalizer , scale
from sklearn.model_selection import train_test_split
from sklearn.feature_selection import RFECV
from sklearn.model_selection import GridSearchCV, KFold , cross_val_score,RandomizedSearchCV


from sklearn.preprocessing import MinMaxScaler , StandardScaler, LabelEncoder
from sklearn.metrics import mean_squared_log_error,mean_squared_error, r2_score,mean_absolute_error 

from sklearn.metrics import accuracy_score,precision_score,recall_score,f1_score

####

In [513]:
X = df4.drop(['total_sales'], axis=1)
y = df4['total_sales']

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.20)

In [514]:
models = { "ridge": Ridge(),
          "lasso": Lasso(),
          "sgd": SGDRegressor(),
          "knn": KNeighborsRegressor(),
          "gradient": GradientBoostingRegressor()
}

In [515]:
for name, model in models.items():
    print(f"Entrenando modelo ---> {name}")
    model.fit(X_train,y_train)
    print(f"He acabado :)")

Entrenando modelo ---> ridge
He acabado :)
Entrenando modelo ---> lasso
He acabado :)
Entrenando modelo ---> sgd
He acabado :)
Entrenando modelo ---> knn
He acabado :)
Entrenando modelo ---> gradient
He acabado :)

In [516]:
for name, model in models.items():
    y_pred = model.predict(X_test)
    print(f"--------{name}--------")
    print("MAE: ", mean_absolute_error(y_test, y_pred))
    print("MSE: ", mean_squared_error(y_test,y_pred))
    print("RMSE: ", np.sqrt(mean_squared_error(y_test,y_pred)))
    print("R2: ", r2_score(y_test,y_pred))
    print("\n")

--------ridge--------
MAE:  883.5753664559904
MSE:  1831429.2598446612
RMSE:  1353.3030923797749
R2:  0.6881805960211722


--------lasso--------
MAE:  882.2706054967099
MSE:  1830360.9181001962
RMSE:  1352.9083184385393
R2:  0.6883624920372013


--------sgd--------
MAE:  724052490183620.6
MSE:  9.973523192295263e+29
RMSE:  998675282176106.6
R2:  -1.6980934648026232e+23


--------knn--------
MAE:  1378.9158446601941
MSE:  4105420.4494972043
RMSE:  2026.1837156332108
R2:  0.3010105354802023


--------gradient--------
MAE:  644.8027339389421
MSE:  1242772.1548716733
RMSE:  1114.79691194032
R2:  0.7884054377036449

In [531]:
model = RandomForestRegressor()

params = {'n_estimators': [10,30,40,50,100],
          'max_features': ["sqrt", 0.5],
          'max_depth': [15,20,25],
          'min_samples_leaf': [1,2,4,6,8,10]}

grid_search = GridSearchCV(model, param_grid=params, verbose=1, n_jobs=-1,cv=5)

grid_search.fit(X_train, y_train)

Fitting 5 folds for each of 180 candidates, totalling 900 fits

GridSearchCV(cv=5, estimator=RandomForestRegressor(), n_jobs=-1,
             param_grid={'max_depth': [15, 20, 25],
                         'max_features': ['sqrt', 0.5],
                         'min_samples_leaf': [1, 2, 4, 6, 8, 10],
                         'n_estimators': [10, 30, 40, 50, 100]},
             verbose=1)

In [532]:
bestscore = grid_search.best_score_
print("Best GridSearch Score: ", bestscore)
best_rf = grid_search.best_estimator_
print("Best Estimator: ", best_rf)
print("Best RF SCORE: ", best_rf.score(X, y))

Best GridSearch Score:  0.8289848038296066
Best Estimator:  RandomForestRegressor(max_depth=20, max_features='sqrt')
Best RF SCORE:  0.9295819000391918

In [332]:
X["predicted_sales"] = best_rf.predict(X)

In [333]:
X["actual_total_sales"] = y

In [334]:
X

,average_temp,total_precip_mm,did_rain,is_closed,is_lockdown,is_curfew,day_of_week_Friday,day_of_week_Monday,day_of_week_Saturday,day_of_week_Sunday,day_of_week_Thursday,day_of_week_Tuesday,day_of_week_Wednesday,month_name_April,month_name_August,month_name_December,month_name_February,month_name_January,month_name_July,month_name_June,month_name_March,month_name_May,month_name_November,month_name_October,month_name_September,year_2015.0,year_2016.0,year_2017.0,year_2018.0,year_2019.0,year_2020.0,year_2021.0,day_type_domingo,day_type_festivo,day_type_laborable,day_type_sábado,prev_sales,is_post_holiday,is_pre_holiday,predicted_sales,actual_total_sales
date,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2015-09-23,19.0,0.0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,1,0,95.80,0.0,0.0,247.174044,156.50
2015-09-24,19.9,0.0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,1,0,156.50,0.0,0.0,339.448949,141.80
2015-09-25,21.4,0.0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,1,0,141.80,0.0,0.0,1343.055727,1095.15
2015-09-26,20.8,0.0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,1,1095.15,0.0,0.0,3152.689667,2588.05
2015-09-27,21.2,0.0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,1,0,0,0,2588.05,0.0,0.0,1548.678333,1316.90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-05-06,27.0,0.0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0,751.70,0.0,0.0,807.682611,649.40
2021-05-07,28.0,0.0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0,649.40,0.0,0.0,1894.789937,2154.00
2021-05-08,29.0,0.0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,1,2154.00,0.0,0.0,5603.551667,6241.70
2021-05-09,22.0,1.5,1,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,1,0,0,0,6241.70,0.0,0.0,4537.332667,6611.10
2021-05-10,18.0,0.0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0,6611.10,0.0,0.0,844.655302,946.40

In [523]:
import pickle

In [524]:
# save the model to disk
pickle.dump(best_rf, open("models/best_rf.pkl", 'wb'))

'''
# load the model from disk
loaded_model = pickle.load(open("mi_mejor_modelo", 'rb'))
loaded_model.predict(X_test)
'''

'\n# load the model from disk\nloaded_model = pickle.load(open("mi_mejor_modelo", \'rb\'))\nloaded_model.predict(X_test)\n'

In [467]:
import joblib

#autoMachineLearning
import h2o
from h2o.automl import H2OAutoML

In [468]:
h2o.init() #To start h2o

Checking whether there is an H2O instance running at http://localhost:54321 . connected.

--------------------------  ------------------------------------------------------------------
H2O_cluster_uptime:         3 hours 23 mins
H2O_cluster_timezone:       Europe/Paris
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.32.1.2
H2O_cluster_version_age:    16 days
H2O_cluster_name:           H2O_from_python_fran_qkh2t3
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    2.942 Gb
H2O_cluster_total_cores:    8
H2O_cluster_allowed_cores:  8
H2O_cluster_status:         locked, healthy
H2O_connection_url:         http://localhost:54321
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
H2O_API_Extensions:         Amazon S3, XGBoost, Algos, AutoML, Core V3, TargetEncoder, Core V4
Python_version:             3.8.5 final
--------------------------  ------------------------------------------------------------------

In [471]:
h2train = h2o.H2OFrame(df4)

Parse progress: |█████████████████████████████████████████████████████████| 100%

In [472]:
x = list(df4.columns)
x.remove('total_sales')

y = "total_sales"

print("X:", x)
print("y:", y)

X: ['average_temp', 'total_precip_mm', 'did_rain', 'is_closed', 'is_lockdown', 'is_curfew', 'day_of_week_Friday', 'day_of_week_Monday', 'day_of_week_Saturday', 'day_of_week_Sunday', 'day_of_week_Thursday', 'day_of_week_Tuesday', 'day_of_week_Wednesday', 'month_name_April', 'month_name_August', 'month_name_December', 'month_name_February', 'month_name_January', 'month_name_July', 'month_name_June', 'month_name_March', 'month_name_May', 'month_name_November', 'month_name_October', 'month_name_September', 'year_2015.0', 'year_2016.0', 'year_2017.0', 'year_2018.0', 'year_2019.0', 'year_2020.0', 'year_2021.0', 'day_type_domingo', 'day_type_festivo', 'day_type_laborable', 'day_type_sábado', 'prev_sales', 'is_post_holiday', 'is_pre_holiday']
y: total_sales

In [473]:
#TRAINING all the h20 models

automl = H2OAutoML(max_models=40, max_runtime_secs=3600, sort_metric='RMSE')
automl.train(x=x, y=y, training_frame=h2train)

AutoML progress: |████████████████████████████████████████████████████████| 100%

In [474]:
#Showing the best performers

leader_board = automl.leaderboard
leader_board.head()

model_id,rmse,mean_residual_deviance,mse,mae,rmsle
StackedEnsemble_AllModels_AutoML_20210515_173143,885.842,784716,784716,537.208,nan
StackedEnsemble_BestOfFamily_AutoML_20210515_173143,890.969,793825,793825,538.039,nan
DeepLearning_grid__2_AutoML_20210515_173143_model_1,915.636,838389,838389,563.668,nan
DeepLearning_grid__3_AutoML_20210515_173143_model_1,923.459,852777,852777,589.786,1.51604
DeepLearning_grid__1_AutoML_20210515_173143_model_2,930.473,865780,865780,570.31,nan
GBM_2_AutoML_20210515_173143,933.566,871545,871545,570.517,nan
DRF_1_AutoML_20210515_173143,939.142,881988,881988,576.262,0.831015
GBM_3_AutoML_20210515_173143,940.068,883729,883729,575.175,nan
GBM_grid__1_AutoML_20210515_173143_model_8,941.409,886251,886251,586.518,nan
GBM_4_AutoML_20210515_173143,943.06,889362,889362,578.658,nan

In [127]:
# save the model to disk
model_path = h2o.save_model(model=automl.leader, path="models/autostacked", force=True)
print (model_path)

/mnt/c/Users/lesto/Desktop/Ironhack/CityPlayForecast/models/autostacked/StackedEnsemble_AllModels_AutoML_20210515_140725

In [151]:
#Loading the TEST dataset

stacked_test = X
h2test_stacked = h2o.H2OFrame(stacked_test) #Conversion into a H20 frame to train
h2test_stacked.head() #preview

Parse progress: |█████████████████████████████████████████████████████████| 100%

average_temp,total_precip_mm,did_rain,is_closed,is_lockdown,is_curfew,day_of_week_Friday,day_of_week_Monday,day_of_week_Saturday,day_of_week_Sunday,day_of_week_Thursday,day_of_week_Tuesday,day_of_week_Wednesday,month_name_April,month_name_August,month_name_December,month_name_February,month_name_January,month_name_July,month_name_June,month_name_March,month_name_May,month_name_November,month_name_October,month_name_September,year_2015.0,year_2016.0,year_2017.0,year_2018.0,year_2019.0,year_2020.0,year_2021.0,day_type_domingo,day_type_festivo,day_type_laborable,day_type_sábado,prev_sales,is_post_holiday,is_pre_holiday,predicted_sales,actual_total_sales
19,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,1,0,95.8,0,0,551.509,156.5
19.9,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,1,0,156.5,0,0,458.303,141.8
21.4,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,1,0,141.8,0,0,1119.26,1095.15
20.8,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,1,1095.15,0,0,2833.82,2588.05
21.2,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,1,0,0,0,2588.05,0,0,1761.45,1316.9
18.4,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,1,0,1316.9,0,0,1545.56,1929
18.1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,1,0,1929,0,0,1038.16,578
18.4,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,1,0,578,0,0,651.457,552.2
18.4,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,1,0,552.2,0,0,590.023,429.3
19.6,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,1,0,429.3,0,0,1722.11,1955.4

In [152]:
predicted_price_h2_stacked = automl.leader.predict(h2test_stacked).as_data_frame() #PREDICTING the Sales on the TEST dataset
predicted_price_h2_stacked #Result

stackedensemble prediction progress: |████████████████████████████████████| 100%

          predict
0      285.445675
1      260.876360
2     1071.732738
3     2688.026402
4     2006.573758
...           ...
2052   786.339809
2053  2003.971774
2054  5674.968076
2055  5787.562846
2056   956.470284

[2057 rows x 1 columns]

In [409]:
pred = X
pred

,average_temp,total_precip_mm,did_rain,is_closed,is_lockdown,is_curfew,day_of_week_Friday,day_of_week_Monday,day_of_week_Saturday,day_of_week_Sunday,day_of_week_Thursday,day_of_week_Tuesday,day_of_week_Wednesday,month_name_April,month_name_August,month_name_December,month_name_February,month_name_January,month_name_July,month_name_June,month_name_March,month_name_May,month_name_November,month_name_October,month_name_September,year_2015.0,year_2016.0,year_2017.0,year_2018.0,year_2019.0,year_2020.0,year_2021.0,day_type_domingo,day_type_festivo,day_type_laborable,day_type_sábado,prev_sales,is_post_holiday,is_pre_holiday
date,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2015-09-23,19.0,0.0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,1,0,95.80,0.0,0.0
2015-09-24,19.9,0.0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,1,0,156.50,0.0,0.0
2015-09-25,21.4,0.0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,1,0,141.80,0.0,0.0
2015-09-26,20.8,0.0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,1,1095.15,0.0,0.0
2015-09-27,21.2,0.0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,1,0,0,0,2588.05,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-05-06,27.0,0.0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0,751.70,0.0,0.0
2021-05-07,28.0,0.0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0,649.40,0.0,0.0
2021-05-08,29.0,0.0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,1,2154.00,0.0,0.0
2021-05-09,22.0,1.5,1,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,1,0,0,0,6241.70,0.0,0.0
2021-05-10,18.0,0.0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0,6611.10,0.0,0.0

In [410]:
pred["total_sales"] = y

In [411]:
pred

,average_temp,total_precip_mm,did_rain,is_closed,is_lockdown,is_curfew,day_of_week_Friday,day_of_week_Monday,day_of_week_Saturday,day_of_week_Sunday,day_of_week_Thursday,day_of_week_Tuesday,day_of_week_Wednesday,month_name_April,month_name_August,month_name_December,month_name_February,month_name_January,month_name_July,month_name_June,month_name_March,month_name_May,month_name_November,month_name_October,month_name_September,year_2015.0,year_2016.0,year_2017.0,year_2018.0,year_2019.0,year_2020.0,year_2021.0,day_type_domingo,day_type_festivo,day_type_laborable,day_type_sábado,prev_sales,is_post_holiday,is_pre_holiday,total_sales
date,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2015-09-23,19.0,0.0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,1,0,95.80,0.0,0.0,156.50
2015-09-24,19.9,0.0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,1,0,156.50,0.0,0.0,141.80
2015-09-25,21.4,0.0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,1,0,141.80,0.0,0.0,1095.15
2015-09-26,20.8,0.0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,1,1095.15,0.0,0.0,2588.05
2015-09-27,21.2,0.0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,1,0,0,0,2588.05,0.0,0.0,1316.90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-05-06,27.0,0.0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0,751.70,0.0,0.0,649.40
2021-05-07,28.0,0.0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0,649.40,0.0,0.0,2154.00
2021-05-08,29.0,0.0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,1,2154.00,0.0,0.0,6241.70
2021-05-09,22.0,1.5,1,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,1,0,0,0,6241.70,0.0,0.0,6611.10
2021-05-10,18.0,0.0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0,6611.10,0.0,0.0,946.40

In [412]:
pred = pred.set_index(predicted_price_h2_stacked.index)

In [413]:
pred['predict'] = predicted_price_h2_stacked['predict']

In [415]:
pred.to_csv("data/h20_stacked_pred.csv", index=True)

In [475]:
single_model = h2o.get_model(automl.leaderboard.as_data_frame()['model_id'][2]) #Saving the best NON-STACKED model

In [481]:
#Another way to save it:
model_path = h2o.save_model(model=single_model, path="models/deeplearning", force=True)
saved_model = h2o.load_model(model_path)
print (saved_model)

Model Details
=============
H2ODeepLearningEstimator :  Deep Learning
Model Key:  DeepLearning_grid__2_AutoML_20210515_173143_model_1


Status of Neuron Layers: predicting total_sales, regression, gaussian distribution, Quadratic loss, 1,241 weights/biases, 23.8 KB, 3,908,300 training samples, mini-batch size 1

,,layer,units,type,dropout,l1,l2,mean_rate,rate_rms,momentum,mean_weight,weight_rms,mean_bias,bias_rms
0,,1,39,Input,5.0,,,,,,,,,
1,,2,20,RectifierDropout,10.0,0.0,0.0,0.002717,0.003679,0.0,0.018742,0.305074,0.365209,0.293951
2,,3,20,RectifierDropout,10.0,0.0,0.0,0.000525,0.000966,0.0,-0.115205,0.21235,0.664091,0.252501
3,,4,1,Linear,,0.0,0.0,0.000162,0.000061,0.0,0.085108,0.328016,0.19132,0.0

ModelMetricsRegression: deeplearning
** Reported on train data. **

MSE: 538679.0625662612
RMSE: 733.947588432758
MAE: 475.5087186985298
RMSLE: NaN
Mean Residual Deviance: 538679.0625662612

ModelMetricsRegression: deeplearning
** Reported on cross-validation data. **

MSE: 838388.7867988328
RMSE: 915.6357282232017
MAE: 563.667776519268
RMSLE: NaN
Mean Residual Deviance: 838388.7867988328

Cross-Validation Metrics Summary:

,,mean,sd,cv_1_valid,cv_2_valid,cv_3_valid,cv_4_valid,cv_5_valid
0,mae,563.67456,17.166351,562.8622,550.55194,558.3227,593.2081,553.4278
1,mean_residual_deviance,838315.8,135696.77,815498.2,1011266.4,753828.0,935741.25,675245.25
2,mse,838315.8,135696.77,815498.2,1011266.4,753828.0,935741.25,675245.25
3,r2,0.82698107,0.025694136,0.8207509,0.7968928,0.8404638,0.8133577,0.86344004
4,residual_deviance,838315.8,135696.77,815498.2,1011266.4,753828.0,935741.25,675245.25
5,rmse,913.194,74.09977,903.0494,1005.6174,868.23267,967.33716,821.7331
6,rmsle,1.3627813,0.039550774,NaN,1.3348147,NaN,1.3907479,NaN

Scoring History:

,,timestamp,duration,training_speed,epochs,iterations,samples,training_rmse,training_deviance,training_mae,training_r2
0,,2021-05-15 17:35:39,0.000 sec,None,0.0,0,0.0,NaN,NaN,NaN,NaN
1,,2021-05-15 17:35:40,40.760 sec,257125 obs/sec,10.0,1,20570.0,1631.735855,2.662562e+06,1133.429786,0.450179
2,,2021-05-15 17:35:45,45.812 sec,300731 obs/sec,750.0,75,1542750.0,757.317092,5.735292e+05,467.131669,0.881566
3,,2021-05-15 17:35:50,50.869 sec,321122 obs/sec,1590.0,159,3270630.0,741.882122,5.503891e+05,474.657209,0.886344
4,,2021-05-15 17:35:51,52.685 sec,325908 obs/sec,1900.0,190,3908300.0,733.947588,5.386791e+05,475.508719,0.888762

Variable Importances:

                 variable  relative_importance  scaled_importance  percentage
0              prev_sales             1.000000           1.000000    0.045151
1      day_of_week_Monday             0.987601           0.987601    0.044591
2               is_closed             0.827361           0.827361    0.037356
3     day_of_week_Tuesday             0.786005           0.786005    0.035489
4               is_curfew             0.764129           0.764129    0.034501
5      day_of_week_Friday             0.734250           0.734250    0.033152
6   day_of_week_Wednesday             0.733380           0.733380    0.033113
7      month_name_October             0.715595           0.715595    0.032310
8       month_name_August             0.714350           0.714350    0.032254
9    day_of_week_Thursday             0.700205           0.700205    0.031615
10       month_name_April             0.611852           0.611852    0.027626
11         month_name_May             0.606783           0.606783    0.027397
12            year_2021.0             0.596130           0.596130    0.026916
13    month_name_November             0.589574           0.589574    0.026620
14       month_name_March             0.577489           0.577489    0.026074
15         is_pre_holiday             0.575982           0.575982    0.026006
16           average_temp             0.554193           0.554193    0.025023
17        month_name_July             0.551882           0.551882    0.024918
18     day_type_laborable             0.548502           0.548502    0.024766
19            is_lockdown             0.543289           0.543289    0.024530

See the whole table with table.as_data_frame()

In [413]:
df2.to_csv("data/final.csv", index=True)

In [94]:
X.to_csv("data/model_outputs/rndForrest.csv", index=True)