In [520]:
import pandas as pd
import numpy as np
from functools import reduce

import datetime
import seaborn as sns
from matplotlib import rcParams
import matplotlib.pyplot as plt
# figure size in inches
rcParams['figure.figsize'] = 30,15
pd.set_option('display.max_columns', None)

In [521]:
df_sales = pd.read_csv ('data/sales_clean.csv')
df_climate = pd.read_csv('data/climate_clean.csv')
df_holidays = pd.read_csv('data/holidays_clean.csv')

bowling_trend = pd.read_csv('trends_bowling.csv')
bolera_trend = pd.read_csv('trends_bolera.csv')
minigolf_trend = pd.read_csv('trends_minigolf.csv')

In [522]:
df_climate

            date  average_temp  total_precip_mm  did_rain  did_snow
0     2015-09-21          20.9              0.0         0         0
1     2015-09-22          20.4              0.0         0         0
2     2015-09-23          19.0              0.0         0         0
3     2015-09-24          19.9              0.0         0         0
4     2015-09-25          21.4              0.0         0         0
...          ...           ...              ...       ...       ...
2055  2021-05-07          28.0              0.0         0         0
2056  2021-05-08          29.0              0.0         0         0
2057  2021-05-09          22.0              1.5         1         0
2058  2021-05-10          18.0              0.0         0         0
2059  2021-05-11          19.0              0.0         0         0

[2060 rows x 5 columns]

In [523]:
df_holidays

            date   day_type holiday_type holiday_name
0     2015-09-21  laborable          NaN          NaN
1     2015-09-22  laborable          NaN          NaN
2     2015-09-23  laborable          NaN          NaN
3     2015-09-24  laborable          NaN          NaN
4     2015-09-25  laborable          NaN          NaN
...          ...        ...          ...          ...
2055  2021-05-07  laborable          NaN          NaN
2056  2021-05-08     sábado          NaN          NaN
2057  2021-05-09    domingo          NaN          NaN
2058  2021-05-10  laborable          NaN          NaN
2059  2021-05-11  laborable          NaN          NaN

[2060 rows x 4 columns]

In [524]:
df1= pd.merge(df_sales, df_climate, how="right", on="date")

In [525]:
df1

,date,total_sales,day_of_week,month_name,day,year,average_temp,total_precip_mm,did_rain,did_snow
0,2015-09-21,233.00,Monday,September,21,2015,20.9,0.0,0,0
1,2015-09-22,95.80,Tuesday,September,22,2015,20.4,0.0,0,0
2,2015-09-23,156.50,Wednesday,September,23,2015,19.0,0.0,0,0
3,2015-09-24,141.80,Thursday,September,24,2015,19.9,0.0,0,0
4,2015-09-25,1095.15,Friday,September,25,2015,21.4,0.0,0,0
...,...,...,...,...,...,...,...,...,...,...
2055,2021-05-07,2154.00,Friday,May,7,2021,28.0,0.0,0,0
2056,2021-05-08,6241.70,Saturday,May,8,2021,29.0,0.0,0,0
2057,2021-05-09,6611.10,Sunday,May,9,2021,22.0,1.5,1,0
2058,2021-05-10,946.40,Monday,May,10,2021,18.0,0.0,0,0
2059,2021-05-11,723.20,Tuesday,May,11,2021,19.0,0.0,0,0

In [526]:
df2 = pd.merge(df1, df_holidays, how="right", on="date")

In [527]:
df2

,date,total_sales,day_of_week,month_name,day,year,average_temp,total_precip_mm,did_rain,did_snow,day_type,holiday_type,holiday_name
0,2015-09-21,233.00,Monday,September,21,2015,20.9,0.0,0,0,laborable,NaN,NaN
1,2015-09-22,95.80,Tuesday,September,22,2015,20.4,0.0,0,0,laborable,NaN,NaN
2,2015-09-23,156.50,Wednesday,September,23,2015,19.0,0.0,0,0,laborable,NaN,NaN
3,2015-09-24,141.80,Thursday,September,24,2015,19.9,0.0,0,0,laborable,NaN,NaN
4,2015-09-25,1095.15,Friday,September,25,2015,21.4,0.0,0,0,laborable,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2055,2021-05-07,2154.00,Friday,May,7,2021,28.0,0.0,0,0,laborable,NaN,NaN
2056,2021-05-08,6241.70,Saturday,May,8,2021,29.0,0.0,0,0,sábado,NaN,NaN
2057,2021-05-09,6611.10,Sunday,May,9,2021,22.0,1.5,1,0,domingo,NaN,NaN
2058,2021-05-10,946.40,Monday,May,10,2021,18.0,0.0,0,0,laborable,NaN,NaN
2059,2021-05-11,723.20,Tuesday,May,11,2021,19.0,0.0,0,0,laborable,NaN,NaN

In [528]:
bowling_trend

      Month  bowling: (Community of Madrid)
0   2015-09                              50
1   2015-10                             100
2   2015-11                              72
3   2015-12                              69
4   2016-01                              65
..      ...                             ...
64  2021-01                              59
65  2021-02                              37
66  2021-03                              54
67  2021-04                              55
68  2021-05                              79

[69 rows x 2 columns]

In [529]:
bolera_trend

      Month  bolera: (Community of Madrid)
0   2015-09                             50
1   2015-10                             53
2   2015-11                             32
3   2015-12                             56
4   2016-01                             98
..      ...                            ...
64  2021-01                             57
65  2021-02                             53
66  2021-03                             82
67  2021-04                             87
68  2021-05                             38

[69 rows x 2 columns]

In [530]:
minigolf_trend

      Month  minigolf: (Community of Madrid)
0   2015-09                               34
1   2015-10                               21
2   2015-11                               35
3   2015-12                               41
4   2016-01                               15
..      ...                              ...
64  2021-01                               14
65  2021-02                               31
66  2021-03                               91
67  2021-04                               51
68  2021-05                               44

[69 rows x 2 columns]

In [531]:
data_frames = [bolera_trend, bowling_trend, minigolf_trend]

In [532]:
trends_merged= reduce(lambda left,right: pd.merge(left,right,on='Month'), data_frames)

In [533]:
trends_merged

,Month,bolera: (Community of Madrid),bowling: (Community of Madrid),minigolf: (Community of Madrid)
0,2015-09,50,50,34
1,2015-10,53,100,21
2,2015-11,32,72,35
3,2015-12,56,69,41
4,2016-01,98,65,15
...,...,...,...,...
64,2021-01,57,59,14
65,2021-02,53,37,31
66,2021-03,82,54,91
67,2021-04,87,55,51
68,2021-05,38,79,44

In [534]:
trends_merged.rename(columns={'bolera: (Community of Madrid)': 'bolera','bowling: (Community of Madrid)' :'bowling' , 'minigolf: (Community of Madrid)':'minigolf' }, inplace=True)

In [535]:
trends_merged.columns

Index(['Month', 'bolera', 'bowling', 'minigolf'], dtype='object')

In [536]:
trends_merged

      Month  bolera  bowling  minigolf
0   2015-09      50       50        34
1   2015-10      53      100        21
2   2015-11      32       72        35
3   2015-12      56       69        41
4   2016-01      98       65        15
..      ...     ...      ...       ...
64  2021-01      57       59        14
65  2021-02      53       37        31
66  2021-03      82       54        91
67  2021-04      87       55        51
68  2021-05      38       79        44

[69 rows x 4 columns]

In [537]:
trends_merged

      Month  bolera  bowling  minigolf
0   2015-09      50       50        34
1   2015-10      53      100        21
2   2015-11      32       72        35
3   2015-12      56       69        41
4   2016-01      98       65        15
..      ...     ...      ...       ...
64  2021-01      57       59        14
65  2021-02      53       37        31
66  2021-03      82       54        91
67  2021-04      87       55        51
68  2021-05      38       79        44

[69 rows x 4 columns]

In [538]:
def getTrends(x, trend):
    date_search = x['date'][0:7]
    row = trends_merged[trends_merged['Month'] == date_search]
    return row.iloc[0][trend]

trends_list = ["bolera", "bowling", "minigolf"]

for trend in trends_list:
    df2[trend + '_trends'] = df2.apply(lambda x: getTrends(x, trend), axis=1)

In [539]:
df2.sample(10)

,date,total_sales,day_of_week,month_name,day,year,average_temp,total_precip_mm,did_rain,did_snow,day_type,holiday_type,holiday_name,bolera_trends,bowling_trends,minigolf_trends
1055,2018-08-11,1905.95,Saturday,August,11,2018,27.9,1.02,1,0,sábado,NaN,NaN,50,41,51
1602,2020-02-09,5600.90,Sunday,February,9,2020,8.3,0.00,0,0,domingo,NaN,NaN,91,60,34
431,2016-11-25,3776.50,Friday,November,25,2016,4.7,10.41,1,0,laborable,NaN,NaN,59,54,25
1840,2020-10-04,2061.95,Sunday,October,4,2020,13.9,0.00,0,0,domingo,NaN,NaN,52,28,14
1583,2020-01-21,545.50,Tuesday,January,21,2020,5.6,0.00,1,0,laborable,NaN,NaN,92,59,19
1760,2020-07-16,362.50,Thursday,July,16,2020,27.6,0.00,0,0,laborable,NaN,NaN,65,43,15
1130,2018-10-25,1144.15,Thursday,October,25,2018,14.9,0.00,0,0,laborable,NaN,NaN,72,42,30
2056,2021-05-08,6241.70,Saturday,May,8,2021,29.0,0.00,0,0,sábado,NaN,NaN,38,79,44
1474,2019-10-04,2429.10,Friday,October,4,2019,18.9,0.00,0,0,laborable,NaN,NaN,45,53,26
923,2018-04-01,3677.70,Sunday,April,1,2018,10.2,0.00,0,0,domingo,NaN,NaN,69,63,16

In [540]:
df2['is_closed'] = df2['total_sales'].apply(lambda x: 1 if x == 0 else 0)

In [541]:
df2['is_lockdown'] = df2['date'].apply(lambda x: 1 if x >= '2020-03-13' and x <= '2020-06-26' else 0)

In [542]:
df2['is_curfew'] = df2['date'].apply(lambda x: 1 if x >= '2020-03-13' and x <= '2021-05-09' else 0)

In [543]:
df2.head()

,date,total_sales,day_of_week,month_name,day,year,average_temp,total_precip_mm,did_rain,did_snow,day_type,holiday_type,holiday_name,bolera_trends,bowling_trends,minigolf_trends,is_closed,is_lockdown,is_curfew
0,2015-09-21,233.00,Monday,September,21,2015,20.9,0.0,0,0,laborable,NaN,NaN,50,50,34,0,0,0
1,2015-09-22,95.80,Tuesday,September,22,2015,20.4,0.0,0,0,laborable,NaN,NaN,50,50,34,0,0,0
2,2015-09-23,156.50,Wednesday,September,23,2015,19.0,0.0,0,0,laborable,NaN,NaN,50,50,34,0,0,0
3,2015-09-24,141.80,Thursday,September,24,2015,19.9,0.0,0,0,laborable,NaN,NaN,50,50,34,0,0,0
4,2015-09-25,1095.15,Friday,September,25,2015,21.4,0.0,0,0,laborable,NaN,NaN,50,50,34,0,0,0

In [544]:
df2.corr()

,total_sales,day,year,average_temp,total_precip_mm,did_rain,did_snow,bolera_trends,bowling_trends,minigolf_trends,is_closed,is_lockdown,is_curfew
total_sales,1.000000,-0.029586,-0.013776,-0.264064,0.070638,0.107799,0.002931,0.282098,0.196098,0.010978,-0.258799,-0.245639,-0.157188
day,-0.029586,1.000000,-0.023629,0.012277,-0.021252,-0.007165,0.021833,0.004228,-0.005995,0.005551,0.034367,0.015800,0.002079
year,-0.013776,-0.023629,1.000000,-0.046058,0.007636,0.044646,0.006112,0.038057,-0.154220,-0.074790,0.226014,0.272899,0.688380
average_temp,-0.264064,0.012277,-0.046058,1.000000,-0.106723,-0.205768,-0.095801,-0.341354,-0.343561,0.187729,0.040597,0.049200,-0.000332
total_precip_mm,0.070638,-0.021252,0.007636,-0.106723,1.000000,0.457043,0.093648,-0.000319,0.015280,-0.027426,0.054079,0.049235,0.034876
did_rain,0.107799,-0.007165,0.044646,-0.205768,0.457043,1.000000,0.141058,0.039421,0.018511,-0.134568,0.094187,0.095855,0.062359
did_snow,0.002931,0.021833,0.006112,-0.095801,0.093648,0.141058,1.000000,-0.002307,0.015064,-0.052918,0.058615,0.041986,0.020193
bolera_trends,0.282098,0.004228,0.038057,-0.341354,-0.000319,0.039421,-0.002307,1.000000,0.441577,0.179031,-0.536036,-0.551413,-0.220168
bowling_trends,0.196098,-0.005995,-0.154220,-0.343561,0.015280,0.018511,0.015064,0.441577,1.000000,0.235302,-0.299399,-0.368315,-0.286645
minigolf_trends,0.010978,0.005551,-0.074790,0.187729,-0.027426,-0.134568,-0.052918,0.179031,0.235302,1.000000,-0.244697,-0.242230,-0.036183
is_closed,-0.258799,0.034367,0.226014,0.040597,0.054079,0.094187,0.058615,-0.536036,-0.299399,-0.244697,1.000000,0.949148,0.430816
is_lockdown,-0.245639,0.015800,0.272899,0.049200,0.049235,0.095855,0.041986,-0.551413,-0.368315,-0.242230,0.949148,1.000000,0.458189
is_curfew,-0.157188,0.002079,0.688380,-0.000332,0.034876,0.062359,0.020193,-0.220168,-0.286645,-0.036183,0.430816,0.458189,1.000000

In [545]:
df2

,date,total_sales,day_of_week,month_name,day,year,average_temp,total_precip_mm,did_rain,did_snow,day_type,holiday_type,holiday_name,bolera_trends,bowling_trends,minigolf_trends,is_closed,is_lockdown,is_curfew
0,2015-09-21,233.00,Monday,September,21,2015,20.9,0.0,0,0,laborable,NaN,NaN,50,50,34,0,0,0
1,2015-09-22,95.80,Tuesday,September,22,2015,20.4,0.0,0,0,laborable,NaN,NaN,50,50,34,0,0,0
2,2015-09-23,156.50,Wednesday,September,23,2015,19.0,0.0,0,0,laborable,NaN,NaN,50,50,34,0,0,0
3,2015-09-24,141.80,Thursday,September,24,2015,19.9,0.0,0,0,laborable,NaN,NaN,50,50,34,0,0,0
4,2015-09-25,1095.15,Friday,September,25,2015,21.4,0.0,0,0,laborable,NaN,NaN,50,50,34,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2055,2021-05-07,2154.00,Friday,May,7,2021,28.0,0.0,0,0,laborable,NaN,NaN,38,79,44,0,0,1
2056,2021-05-08,6241.70,Saturday,May,8,2021,29.0,0.0,0,0,sábado,NaN,NaN,38,79,44,0,0,1
2057,2021-05-09,6611.10,Sunday,May,9,2021,22.0,1.5,1,0,domingo,NaN,NaN,38,79,44,0,0,1
2058,2021-05-10,946.40,Monday,May,10,2021,18.0,0.0,0,0,laborable,NaN,NaN,38,79,44,0,0,0
2059,2021-05-11,723.20,Tuesday,May,11,2021,19.0,0.0,0,0,laborable,NaN,NaN,38,79,44,0,0,0

In [546]:
df3 = df2.set_index("date")

In [547]:
df3

,total_sales,day_of_week,month_name,day,year,average_temp,total_precip_mm,did_rain,did_snow,day_type,holiday_type,holiday_name,bolera_trends,bowling_trends,minigolf_trends,is_closed,is_lockdown,is_curfew
date,,,,,,,,,,,,,,,,,,
2015-09-21,233.00,Monday,September,21,2015,20.9,0.0,0,0,laborable,NaN,NaN,50,50,34,0,0,0
2015-09-22,95.80,Tuesday,September,22,2015,20.4,0.0,0,0,laborable,NaN,NaN,50,50,34,0,0,0
2015-09-23,156.50,Wednesday,September,23,2015,19.0,0.0,0,0,laborable,NaN,NaN,50,50,34,0,0,0
2015-09-24,141.80,Thursday,September,24,2015,19.9,0.0,0,0,laborable,NaN,NaN,50,50,34,0,0,0
2015-09-25,1095.15,Friday,September,25,2015,21.4,0.0,0,0,laborable,NaN,NaN,50,50,34,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-05-07,2154.00,Friday,May,7,2021,28.0,0.0,0,0,laborable,NaN,NaN,38,79,44,0,0,1
2021-05-08,6241.70,Saturday,May,8,2021,29.0,0.0,0,0,sábado,NaN,NaN,38,79,44,0,0,1
2021-05-09,6611.10,Sunday,May,9,2021,22.0,1.5,1,0,domingo,NaN,NaN,38,79,44,0,0,1
2021-05-10,946.40,Monday,May,10,2021,18.0,0.0,0,0,laborable,NaN,NaN,38,79,44,0,0,0
2021-05-11,723.20,Tuesday,May,11,2021,19.0,0.0,0,0,laborable,NaN,NaN,38,79,44,0,0,0

In [548]:
df3['year'] = df3.year.astype('category')

In [549]:
del df3['day']
del df3['holiday_type']
del df3['holiday_name' ]

In [550]:
del df3['did_snow']

In [551]:
df4 = pd.get_dummies(df3 ,dummy_na=True)

In [552]:
df4

,total_sales,average_temp,total_precip_mm,did_rain,bolera_trends,bowling_trends,minigolf_trends,is_closed,is_lockdown,is_curfew,day_of_week_Friday,day_of_week_Monday,day_of_week_Saturday,day_of_week_Sunday,day_of_week_Thursday,day_of_week_Tuesday,day_of_week_Wednesday,day_of_week_nan,month_name_April,month_name_August,month_name_December,month_name_February,month_name_January,month_name_July,month_name_June,month_name_March,month_name_May,month_name_November,month_name_October,month_name_September,month_name_nan,year_2015.0,year_2016.0,year_2017.0,year_2018.0,year_2019.0,year_2020.0,year_2021.0,year_nan,day_type_domingo,day_type_festivo,day_type_laborable,day_type_sábado,day_type_nan
date,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2015-09-21,233.00,20.9,0.0,0,50,50,34,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,1,0,0
2015-09-22,95.80,20.4,0.0,0,50,50,34,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,1,0,0
2015-09-23,156.50,19.0,0.0,0,50,50,34,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,1,0,0
2015-09-24,141.80,19.9,0.0,0,50,50,34,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,1,0,0
2015-09-25,1095.15,21.4,0.0,0,50,50,34,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-05-07,2154.00,28.0,0.0,0,38,79,44,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0
2021-05-08,6241.70,29.0,0.0,0,38,79,44,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0
2021-05-09,6611.10,22.0,1.5,1,38,79,44,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0
2021-05-10,946.40,18.0,0.0,0,38,79,44,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0
2021-05-11,723.20,19.0,0.0,0,38,79,44,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0

In [553]:
del df4['day_type_nan']
del df4['month_name_nan']
del df4['day_of_week_nan']
del df4['year_nan']

In [554]:
df4

,total_sales,average_temp,total_precip_mm,did_rain,bolera_trends,bowling_trends,minigolf_trends,is_closed,is_lockdown,is_curfew,day_of_week_Friday,day_of_week_Monday,day_of_week_Saturday,day_of_week_Sunday,day_of_week_Thursday,day_of_week_Tuesday,day_of_week_Wednesday,month_name_April,month_name_August,month_name_December,month_name_February,month_name_January,month_name_July,month_name_June,month_name_March,month_name_May,month_name_November,month_name_October,month_name_September,year_2015.0,year_2016.0,year_2017.0,year_2018.0,year_2019.0,year_2020.0,year_2021.0,day_type_domingo,day_type_festivo,day_type_laborable,day_type_sábado
date,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2015-09-21,233.00,20.9,0.0,0,50,50,34,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,1,0
2015-09-22,95.80,20.4,0.0,0,50,50,34,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,1,0
2015-09-23,156.50,19.0,0.0,0,50,50,34,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,1,0
2015-09-24,141.80,19.9,0.0,0,50,50,34,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,1,0
2015-09-25,1095.15,21.4,0.0,0,50,50,34,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-05-07,2154.00,28.0,0.0,0,38,79,44,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0
2021-05-08,6241.70,29.0,0.0,0,38,79,44,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,1
2021-05-09,6611.10,22.0,1.5,1,38,79,44,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,1,0,0,0
2021-05-10,946.40,18.0,0.0,0,38,79,44,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0
2021-05-11,723.20,19.0,0.0,0,38,79,44,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0

In [513]:


from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import RandomForestClassifier , GradientBoostingClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis , QuadraticDiscriminantAnalysis

from sklearn.linear_model import LinearRegression,Ridge,Lasso,RidgeCV, ElasticNet,SGDRegressor
from sklearn.ensemble import RandomForestRegressor,BaggingRegressor,GradientBoostingRegressor,AdaBoostRegressor 
from sklearn.svm import SVR
from sklearn.neighbors import KNeighborsRegressor
from sklearn.neural_network import MLPRegressor

from sklearn.preprocessing import  Normalizer , scale
from sklearn.model_selection import train_test_split
from sklearn.feature_selection import RFECV
from sklearn.model_selection import GridSearchCV , KFold , cross_val_score

from sklearn.preprocessing import MinMaxScaler , StandardScaler, LabelEncoder
from sklearn.metrics import mean_squared_log_error,mean_squared_error, r2_score,mean_absolute_error 

from sklearn.metrics import accuracy_score,precision_score,recall_score,f1_score

####

In [514]:
X = df4.drop(['total_sales'], axis=1)
y = df4['total_sales']

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2)

In [515]:
models = { "ridge": Ridge(),
          "lasso": Lasso(),
          "sgd": SGDRegressor(),
          "knn": KNeighborsRegressor(),
          "gradient": GradientBoostingRegressor()
}

In [516]:
for name, model in models.items():
    print(f"Entrenando modelo ---> {name}")
    model.fit(X_train,y_train)
    print(f"He acabado :)")

Entrenando modelo ---> ridge
He acabado :)
Entrenando modelo ---> lasso
He acabado :)
Entrenando modelo ---> sgd
He acabado :)
Entrenando modelo ---> knn
He acabado :)
Entrenando modelo ---> gradient
He acabado :)

In [517]:
for name, model in models.items():
    y_pred = model.predict(X_test)
    print(f"--------{name}--------")
    print("MAE: ", mean_absolute_error(y_test, y_pred))
    print("MSE: ", mean_squared_error(y_test,y_pred))
    print("RMSE: ", np.sqrt(mean_squared_error(y_test,y_pred)))
    print("R2: ", r2_score(y_test,y_pred))
    print("\n")

--------ridge--------
MAE:  1030.1057478086386
MSE:  2068279.1112496564
RMSE:  1438.1512824628903
R2:  0.6147344053673567


--------lasso--------
MAE:  1007.1419647994761
MSE:  2093448.805656192
RMSE:  1446.8755321921067
R2:  0.6100459582281325


--------sgd--------
MAE:  1283815572162.3748
MSE:  2.830536986006377e+24
RMSE:  1682419979079.652
R2:  -5.2725403893121094e+17


--------knn--------
MAE:  1384.961422330097
MSE:  4445474.260507292
RMSE:  2108.4293349570175
R2:  0.17192593829193392


--------gradient--------
MAE:  711.7546902501293
MSE:  1334904.2284560297
RMSE:  1155.3805556854545
R2:  0.7513427135842387

In [518]:
model = RandomForestRegressor()

params = {'n_estimators': [450],
          'max_features': ["sqrt"],
          'max_depth': [30],
          'min_samples_leaf': [2]}

grid_search = GridSearchCV(model, param_grid=params, verbose=1, n_jobs=-1,cv=5)

grid_search.fit(X_train, y_train)

Fitting 5 folds for each of 1 candidates, totalling 5 fits

GridSearchCV(cv=5, estimator=RandomForestRegressor(), n_jobs=-1,
             param_grid={'max_depth': [30], 'max_features': ['sqrt'],
                         'min_samples_leaf': [2], 'n_estimators': [450]},
             verbose=1)

In [519]:
bestscore = grid_search.best_score_
print("Best GridSearch Score: ", bestscore)
best_rf = grid_search.best_estimator_
print("Best Estimator: ", best_rf)
print("Best RF SCORE: ", best_rf.score(X, y))

Best GridSearch Score:  0.13609536628649826
Best Estimator:  RandomForestRegressor(max_depth=30, max_features='sqrt', min_samples_leaf=2,
                      n_estimators=450)
Best RF SCORE:  0.14316208810521902

In [472]:
X["predicted_sales"] = best_rf.predict(X)

In [473]:
X["actual_total_sales"] = y

In [474]:
X

,average_temp,total_precip_mm,did_rain,bolera_trends,bowling_trends,minigolf_trends,is_closed,is_lockdown,is_curfew,day_of_week_Friday,day_of_week_Monday,day_of_week_Saturday,day_of_week_Sunday,day_of_week_Thursday,day_of_week_Tuesday,day_of_week_Wednesday,month_name_April,month_name_August,month_name_December,month_name_February,month_name_January,month_name_July,month_name_June,month_name_March,month_name_May,month_name_November,month_name_October,month_name_September,year_2015.0,year_2016.0,year_2017.0,year_2018.0,year_2019.0,year_2020.0,year_2021.0,day_type_domingo,day_type_festivo,day_type_laborable,day_type_sábado,predicted_sales,actual_total_sales
date,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2015-09-21,20.9,0.0,0,50,50,34,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,1,0,856.690866,233.00
2015-09-22,20.4,0.0,0,50,50,34,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,1,0,654.850607,95.80
2015-09-23,19.0,0.0,0,50,50,34,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,1,0,660.121185,156.50
2015-09-24,19.9,0.0,0,50,50,34,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,1,0,637.361155,141.80
2015-09-25,21.4,0.0,0,50,50,34,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,1,0,1690.755454,1095.15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-05-07,28.0,0.0,0,38,79,44,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0,1691.756008,2154.00
2021-05-08,29.0,0.0,0,38,79,44,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,1,4763.958144,6241.70
2021-05-09,22.0,1.5,1,38,79,44,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,1,0,0,0,4904.171284,6611.10
2021-05-10,18.0,0.0,0,38,79,44,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0,914.657892,946.40
2021-05-11,19.0,0.0,0,38,79,44,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0,987.770890,723.20

In [427]:
import joblib

#autoMachineLearning
import h2o
from h2o.automl import H2OAutoML

In [428]:
h2o.init() #To start h2o

Checking whether there is an H2O instance running at http://localhost:54321 . connected.

--------------------------  ------------------------------------------------------------------
H2O_cluster_uptime:         1 hour 34 mins
H2O_cluster_timezone:       Europe/Paris
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.32.1.2
H2O_cluster_version_age:    14 days, 4 hours and 47 minutes
H2O_cluster_name:           H2O_from_python_fran_kwyooc
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    2.959 Gb
H2O_cluster_total_cores:    8
H2O_cluster_allowed_cores:  8
H2O_cluster_status:         locked, healthy
H2O_connection_url:         http://localhost:54321
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
H2O_API_Extensions:         Amazon S3, XGBoost, Algos, AutoML, Core V3, TargetEncoder, Core V4
Python_version:             3.8.5 final
--------------------------  ------------------------------------------------------------------

In [338]:
h2train = h2o.H2OFrame(df4)

Parse progress: |█████████████████████████████████████████████████████████| 100%

In [339]:
x = list(df4.columns)
x.remove('total_sales')

y = "total_sales"

print("X:", x)
print("y:", y)

X: ['average_temp', 'total_precip_mm', 'did_rain', 'is_closed', 'is_lockdown', 'is_curfew', 'day_of_week_Friday', 'day_of_week_Monday', 'day_of_week_Saturday', 'day_of_week_Sunday', 'day_of_week_Thursday', 'day_of_week_Tuesday', 'day_of_week_Wednesday', 'month_name_April', 'month_name_August', 'month_name_December', 'month_name_February', 'month_name_January', 'month_name_July', 'month_name_June', 'month_name_March', 'month_name_May', 'month_name_November', 'month_name_October', 'month_name_September', 'year_2015.0', 'year_2016.0', 'year_2017.0', 'year_2018.0', 'year_2019.0', 'year_2020.0', 'year_2021.0', 'day_type_domingo', 'day_type_festivo', 'day_type_laborable', 'day_type_sábado']
y: total_sales

In [340]:
#TRAINING all the h20 models

automl = H2OAutoML(max_models=30, max_runtime_secs=3600, sort_metric='RMSE')
automl.train(x=x, y=y, training_frame=h2train)

AutoML progress: |████████████████████████████████████████████████████████| 100%

In [341]:
#Showing the best performers

leader_board = automl.leaderboard
leader_board.head()

model_id,rmse,mean_residual_deviance,mse,mae,rmsle
StackedEnsemble_AllModels_AutoML_20210513_215050,952.709,907655,907655,586.209,nan
StackedEnsemble_BestOfFamily_AutoML_20210513_215050,959.275,920208,920208,589.772,nan
DeepLearning_grid__2_AutoML_20210513_215050_model_1,973.447,947598,947598,627.047,1.46575
DeepLearning_grid__1_AutoML_20210513_215050_model_2,990.185,980466,980466,630.526,nan
GBM_grid__1_AutoML_20210513_215050_model_3,992.126,984313,984313,623.324,nan
GBM_1_AutoML_20210513_215050,992.677,985408,985408,618.594,nan
XGBoost_grid__1_AutoML_20210513_215050_model_6,998.695,997392,997392,627.91,nan
GBM_3_AutoML_20210513_215050,998.879,997760,997760,622.696,nan
GBM_2_AutoML_20210513_215050,998.956,997913,997913,624.143,nan
XGBoost_3_AutoML_20210513_215050,1005.21,1.01045e+06,1.01045e+06,628.341,nan

In [342]:
#Loading the TEST dataset

stacked_test = X
h2test_stacked = h2o.H2OFrame(stacked_test) #Conversion into a H20 frame to train
h2test_stacked.head() #preview

Parse progress: |█████████████████████████████████████████████████████████| 100%

average_temp,total_precip_mm,did_rain,is_closed,is_lockdown,is_curfew,day_of_week_Friday,day_of_week_Monday,day_of_week_Saturday,day_of_week_Sunday,day_of_week_Thursday,day_of_week_Tuesday,day_of_week_Wednesday,month_name_April,month_name_August,month_name_December,month_name_February,month_name_January,month_name_July,month_name_June,month_name_March,month_name_May,month_name_November,month_name_October,month_name_September,year_2015.0,year_2016.0,year_2017.0,year_2018.0,year_2019.0,year_2020.0,year_2021.0,day_type_domingo,day_type_festivo,day_type_laborable,day_type_sábado
20.9,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,1,0
20.4,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,1,0
19,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,1,0
19.9,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,1,0
21.4,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,1,0
20.8,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,1
21.2,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,1,0,0,0
18.4,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,1,0
18.1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,1,0
18.4,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,1,0

In [356]:
predicted_price_h2_stacked = automl.leader.predict(h2test_stacked).as_data_frame() #PREDICTING the Sales on the TEST dataset
predicted_price_h2_stacked #Result

stackedensemble prediction progress: |████████████████████████████████████| 100%

          predict
0      658.230720
1      571.251489
2      762.499457
3      581.521021
4     1560.277626
...           ...
2055  2060.150188
2056  5140.381383
2057  5362.623976
2058  1300.376212
2059  1236.468020

[2060 rows x 1 columns]

In [357]:
pred = X
pred

,average_temp,total_precip_mm,did_rain,is_closed,is_lockdown,is_curfew,day_of_week_Friday,day_of_week_Monday,day_of_week_Saturday,day_of_week_Sunday,day_of_week_Thursday,day_of_week_Tuesday,day_of_week_Wednesday,month_name_April,month_name_August,month_name_December,month_name_February,month_name_January,month_name_July,month_name_June,month_name_March,month_name_May,month_name_November,month_name_October,month_name_September,year_2015.0,year_2016.0,year_2017.0,year_2018.0,year_2019.0,year_2020.0,year_2021.0,day_type_domingo,day_type_festivo,day_type_laborable,day_type_sábado
date,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2015-09-21,20.9,0.0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,1,0
2015-09-22,20.4,0.0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,1,0
2015-09-23,19.0,0.0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,1,0
2015-09-24,19.9,0.0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,1,0
2015-09-25,21.4,0.0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-05-07,28.0,0.0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0
2021-05-08,29.0,0.0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,1
2021-05-09,22.0,1.5,1,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,1,0,0,0
2021-05-10,18.0,0.0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0
2021-05-11,19.0,0.0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0

In [358]:
pred["total_sales"] = y

In [359]:
pred

,average_temp,total_precip_mm,did_rain,is_closed,is_lockdown,is_curfew,day_of_week_Friday,day_of_week_Monday,day_of_week_Saturday,day_of_week_Sunday,day_of_week_Thursday,day_of_week_Tuesday,day_of_week_Wednesday,month_name_April,month_name_August,month_name_December,month_name_February,month_name_January,month_name_July,month_name_June,month_name_March,month_name_May,month_name_November,month_name_October,month_name_September,year_2015.0,year_2016.0,year_2017.0,year_2018.0,year_2019.0,year_2020.0,year_2021.0,day_type_domingo,day_type_festivo,day_type_laborable,day_type_sábado,total_sales
date,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2015-09-21,20.9,0.0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,1,0,233.00
2015-09-22,20.4,0.0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,1,0,95.80
2015-09-23,19.0,0.0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,1,0,156.50
2015-09-24,19.9,0.0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,1,0,141.80
2015-09-25,21.4,0.0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,1,0,1095.15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-05-07,28.0,0.0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0,2154.00
2021-05-08,29.0,0.0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,1,6241.70
2021-05-09,22.0,1.5,1,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,1,0,0,0,6611.10
2021-05-10,18.0,0.0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0,946.40
2021-05-11,19.0,0.0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0,723.20

In [360]:
pred = pred.set_index(predicted_price_h2_stacked.index)

In [361]:
pred['predict'] = predicted_price_h2_stacked['predict']

In [362]:
pred.dtypes

average_temp             float64
total_precip_mm          float64
did_rain                   int64
is_closed                  int64
is_lockdown                int64
is_curfew                  int64
day_of_week_Friday         uint8
day_of_week_Monday         uint8
day_of_week_Saturday       uint8
day_of_week_Sunday         uint8
day_of_week_Thursday       uint8
day_of_week_Tuesday        uint8
day_of_week_Wednesday      uint8
month_name_April           uint8
month_name_August          uint8
month_name_December        uint8
month_name_February        uint8
month_name_January         uint8
month_name_July            uint8
month_name_June            uint8
month_name_March           uint8
month_name_May             uint8
month_name_November        uint8
month_name_October         uint8
month_name_September       uint8
year_2015.0                uint8
year_2016.0                uint8
year_2017.0                uint8
year_2018.0                uint8
year_2019.0                uint8
year_2020.0                uint8
year_2021.0                uint8
day_type_domingo           uint8
day_type_festivo           uint8
day_type_laborable         uint8
day_type_sábado            uint8
total_sales              float64
predict                  float64
dtype: object

In [363]:
pred.to_csv("data/h20_stacked_pred.csv", index=True)

date
2015-09-21     233.00
2015-09-22      95.80
2015-09-23     156.50
2015-09-24     141.80
2015-09-25    1095.15
               ...
2021-05-07    2154.00
2021-05-08    6241.70
2021-05-09    6611.10
2021-05-10     946.40
2021-05-11     723.20
Name: total_sales, Length: 2060, dtype: float64

In [413]:
df2.to_csv("data/final.csv", index=True)

In [475]:
X.to_csv("data/x.csv", index=True)